:root {
  --color-primary: #d23625;
  --color-secondary: #eaeaea;
  --color-tercero: #446de0;

}

.logo {
  max-width: 50px;
  margin: 20px;
}

.carousel {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #fff;
  width: 300px;
}


.darkmode {
  filter: invert(1) hue-rotate(180deg);
}

.aux-dark-mode {
  filter: invert(1) hue-rotate(180deg);
}